LibLombaxToes/bin
LombaxToes/bin
LombaxToes/obj
LibLombaxToes/obj
.vscode
*.dat
*.irb
*.obj
.vs/LombaxToes/v17/.suo
.vs/LombaxToes/v17/Browse.VC.db
.vs/LombaxToes/v17/Browse.VC.db-shm
.vs/LombaxToes/v17/Browse.VC.db-wal
.vs/LombaxToes/v17/Browse.VC.opendb
.vs/LombaxToesOfficial/v17/.suo
LombaxToes/Shaders/no_texture.bmp

#I'm still writing the docs so for now i'm hiding them
Docs